extends layout

block content

    .mainDiv
        // NAV Bar stuff here:
        nav.navbar.navbar-inverse(role="navigation")
            .container-fluid
                .navbar-header
                    //a.btn.navbar-link.navbar-inverse#info_button(href='', data-toggle="modal", data-target="#showScheduleModal")
                    a.navbar-brand(href="https://github.com/jakemadison/ss_flash", target='_blank')=title

                .navbar-form.navbar-left
                    a.btn.navbar-link.navbar-inverse.tooltipper#info_button
                        //span.glyphicon.glyphicon-question-sign(aria-hidden="true", data-toggle="tooltip", data-placement="bottom", title="Tooltip on top")
                        span.glyphicon.glyphicon-question-sign

                .navbar-form.navbar-right

                    a.btn.navbar-link.navbar-inverse#scheduleView(href='', data-toggle="modal", data-target="#showScheduleModal")
                        span.glyphicon.glyphicon-calendar(aria-hidden="true")

                    a.btn.navbar-link.navbar-inverse(href='', data-toggle="modal", data-target="#AddWordsModal")
                        span.glyphicon.glyphicon-plus(aria-hidden="true")

        hr
        // All of our crazy modals go here:
        .thing
            // Show Schedule MODAL
            .modal#showScheduleModal
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                            h4.modal-title Current Schedule
                        .modal-body
                            hr
                            //#wordSchedule.col-md-10
                            #wordSchedule
                                ul#wordList.list-group.scrollable-menu.scrollbar
                        .modal-footer
                            //hr
                            //button.btn.btn-default(data-dismiss="modal") Close


            // Add Words MODAL
            .modal#AddWordsModal
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                            h4.modal-title Add Words
                        .modal-body
                            p Add some new words to the DB below
                            .row.modalInputs#addWord
                                .inputCols
                                    label(for="inputFrench") Français
                                    input.form-control#inputFrench(type="text", placeholder="Français")
                                .inputCols
                                    label(for="inputEnglish") English
                                    input.form-control#inputEnglish(type="text", placeholder="English")
                        .modal-footer
                            //button.btn.btn-default(data-dismiss="modal") Close
                            button.btn.btn-success#btnAddWord Add



            // Add Words MODAL
            .modal#EditWordsModal
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                            h4.modal-title Edit Words
                        .modal-body
                            p Edit Existing words
                            .row.modalInputs#editWord
                                .inputCols
                                    label(for="editFrench") Français
                                    input.form-control#editFrench(type="text", placeholder="Français")
                                .inputCols
                                    label(for="editEnglish") English
                                    input.form-control#editEnglish(type="text", placeholder="English")
                        .modal-footer
                            button.btn.btn-success#btnEditWord Save

            // Main Card Area
            #wrapper
                #wordList2.panel.panel-default
                    .panel-heading.lead Word List
                        a.button.btn.pull-right#start_edit(data-toggle="modal", data-target="#EditWordsModal")
                            span.glyphicon.glyphicon-pencil(aria-hidden="true")

                    .embed-responsive.embed-responsive-16by9#vidContainer
                        video.video#vid.embed-responsive-item(src="/video/s/supercut.mp4")
                        .playpause

                    .panel-body#card_body
                        //img(src="/images/sailing.png")

                        section.row.text-center.placeholders
                            .placeholder
                                //img.img-fluid.img-rounded(src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs="
                                //width="200" height="200" alt="Generic placeholder thumbnail")
                                h2#french _________
                                h4.card_text.text-muted#english _________

                            //svg.counter.pull-right#counterContainer(width="50" height="30")
                            //    circle.run_animation#animator(r="10" cx="23" cy="15")

                        //#countdown
                        //    #countdown-number




            // /WORD LIST

            //hr
            // /WRAPPER

            .bottom_control
                controlToggls.pull-left
                    .col-md-4

                        // a dumb button for testing things:
                        //button.ctrlBtn#dumbBtn.btn.btn-success.btn-lg
                        //    span.glyphicon.glyphicon-download
                        //    span.rightIndicator.text-center

                        label.toggle
                            input.iCheck-helper#videoOnOff(type="checkbox" checked="")
                            span.handle
                        br
                        label(for="videoOnOff")
                            span.text-muted.text-center Video

                controlButtons.pull-right
                    button.ctrlBtn#showWord.controlBtns.btn.btn-primary.btn-lg
                        span.glyphicon.glyphicon-thumbs-down
                    button.ctrlBtn#right.controlBtns.btn.btn-default.btn-lg
                        span.glyphicon.glyphicon-thumbs-up
                        span.rightIndicator.text-center

                    button.ctrlBtn#oops.btn.btn-danger.btn-lg
                        span.glyphicon.glyphicon-thumbs-down
                    button.ctrlBtn#doubleright.btn.btn-success.btn-lg
                        span.glyphicon.glyphicon-thumbs-up
                        span.rightIndicator.text-center

                svg.counter.pull-right#counterContainer(width="50" height="30")
                    circle.run_animation#animator(r="10" cx="23" cy="15")



            // Main Card Area
            #heatMap.panel.panel-default
                .panel-heading.lead Schedule

                .panel-body.heatMapContainer
                    col-xs-4.text-center
                        #cal-heatmap
                        #cal-2

