body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

#oops, #doubleright {
    display: none;
}

.mainDiv {
    max-width: 600px;
    margin-left: 60px;
}

.ctrlBtn {
    margin: 2px;
}

.modalInputs#addWord {
    max-width: 95%;
    margin-left: 10px;
    margin-right:10px;
}

.modalInputs#editWord {
    max-width: 95%;
    margin-left: 10px;
    margin-right:10px;
}

.inpuCols {
    max-width: 98%;
    margin-left: 14px;
    padding:140px;
}

.scrollbar{
    background-color:lightgray;height: auto;
    max-height: 200px;
    overflow-x:hidden;
    overflow-y:scroll;
    min-width: 135px;
    margin-top: 0px;
}

.modal-backdrop.show, .modal-backdrop.fade.in {
    opacity: 0.8 !important;
}

.rightIndicator {
    margin-left: 5px;
}


span.badge.schedulePast {
    background-color: #3bafda;
}


#vidContainer {
    cursor: pointer;
}

.playpause {
    background-image:url(/images/play_flat.png);
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    opacity: 0.5;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

/*.playpause:hover {*/
    /**/
    /*display: block;*/
    /*opacity: 0.5;*/
/*}*/

.bg_ship {
    opacity: .1;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

#french {
    margin-top: 0;
}


.wrong {
    color: red;
}

#card_body {
    padding: 40px;
}

#start_edit {
    color: white;
    background-color: #ccd1d9;
    border-color: #ccd1d9;
}

#start_edit:hover {
    background-color: #aab2bd;
    border-color: #aab2bd;
}

.tooltip {
    opacity: .9 !important;
    filter: alpha(opacity=100);
}

#info_button {
    white-space: nowrap;
}

.bottom_control {
    margin-bottom: 90px;
}

.heatMapContainer {
    /*margin: auto;*/
    border-radius: 3px;
    margin-left: 16px;
}
/*.tooltip.fade {*/
     /*!*opacity: 0 !important;;*!*/
    /*-webkit-transition: opacity .15s linear !important;*/
    /*-o-transition: opacity .15s linear !important;*/
/*}*/






/*#countdown {*/
    /*position: relative;*/
    /*margin: auto;*/
    /*margin-top: 100px;*/
    /*height: 40px;*/
    /*width: 40px;*/
    /*text-align: center;*/
/*}*/

#countdown-number {
    color: white;
    display: inline-block;
    line-height: 40px;
}

#circleContainer {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 4px;*/
    /*height: 4px;*/
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#animator {
    stroke-dasharray: 63px;  /*needs to be pi*r*2, where r is the circle's svg def.*/
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: grey;
    fill: none;
    animation: countdown_animation 2s linear forwards;
}

@keyframes countdown_animation {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 63px;  /*needs to be pi*r*2, where r is the circle's svg def.*/
    }
}

@keyframes countdown_restart {
    to {
        stroke-dashoffset: 0px;
    }
}






